
html {

   /*  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; */
    font-family: "Outfit", sans-serif;
}
body {
    margin: 0;
    background-color: hsl(30, 54%, 90%);
    
}

body p {
    font-size: 16px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 800px;
    border-radius: 2rem;
    margin: 5rem auto;
}
section img { 
    border-radius: 4%;
    width: 700px;
    margin: 3rem 3rem 0;
}

section article{
    
    width: 700px;
    margin: 0rem 3rem;
}

article h2 {

    color: brown;
}


.text {
    font-size: 30px;
}

.text2 {

    color: darkmagenta;
}

.info2 {

    
    background-color: hsl(330, 100%, 98%);
    
}

.info2 h3 {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.info2 ul li {

    padding-bottom: 15px;
    
}

.info2 ul li::marker {

    color: darkmagenta;
}

.info3 {

    border-bottom: 1px solid;
    border-color: rgb(221, 221, 221);
}

.info3 h2 {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 0px;
}

.info3 ul li {

    padding-bottom: 15px;
}

.info3 ul li::marker {

    color: brown ;
}

.info4 {

    border-bottom: 1px solid;
    border-color: rgb(221, 221, 221);
}

.info4 ol li {

    padding-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
}

th, td {

    border-bottom: 1px solid #eee;

    /* border: 1px solid black; */
    padding: 1rem 2rem 1rem 3rem ;
    /* text-align: left; */
    padding-bottom: 1rem;

}

th {
    color: gray;
    text-align: start;

}



